body {
font-family:Brush Script MT; 
font-size:16px;
background-color :orange;
width:100%;
width:960px;
margin:0px auto;
}

h1 { color:#000000;
font-family:Matura MT Script Capitals;
font-size:20px;}

.txtBox 
{
width:150px;
padding:6px;
BORDER:1PX SOLID #000000;
border-radius:3px;
}

.submitBtn{
background-color:olive green;
color:#000000;
padding:10px;
border-radius:5px;
font-weight:Italic;
font-family:Forte;
}